<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BRICOMA</title>
    <link rel="stylesheet" href="~/lib/tabler-icons/css/tabler-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/adminlte/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/css/app-theme.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="login-page bg-body-secondary">
    <div class="d-flex flex-column justify-content-center align-items-center min-vh-100 py-4">
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/adminlte/js/adminlte.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
